@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";
  color: grey;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
}
